
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Sixtyfour&display=swap');
body{
    margin: 0; 
    padding: 0; 
    background-color: black;
    background: url(../img/night-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    display: grid; 
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 2fr 3fr;
    font-family: "Crafty Girls", cursive;

}
header {
    grid-column: span 2;
    background-color: transparent !important;
    height: 30px; 
    display: flex;
    justify-content: flex-end;

}
aside {
    background-color:  transparent !important;
}
main {
    background-color: transparent !important;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
footer {
    background-color: transparent !important;
    grid-column: 1 / 3;
    height: 30px;
}

.word-container {
    max-width: 500px;
    text-align: center;
    color: white;


}
.keyboard-container{
    margin-top: 40px;
    
} 
.row {
    display: flex;
    justify-content: center;
}


.key {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px; 
    outline: none;
    border: none;
    font-size: 20px;
    font-family: "Crafty Girls", cursive;
  
}

.key:hover{
    background-color: #7E2178;
    color: white;
    cursor: pointer;
}

.key-clicked{
    background-color: #7E2178;
    color: white;
}

.jump {
    transition: transform 0.1s ease-in-out;
  }
  
.jump:hover {   
    transform: translateY(-8px) scale(1.1);
}

.word{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}
.hint {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}
.chances{
    font-size: 25px;
    margin-top: 20px;
    color: white;
    position: absolute;
    top: 85%;
    right: 20%;
}


.dogImg {
    width: 300px;
    height: 300px;
    display: flex;
    position: absolute;
    bottom: 2%;
    left: 9%;
    animation-name: up;
    animation-duration: 3s;
    animation-fill-mode: forwards;


}

.alienImg {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 10%;
    display: none;
    animation-name: roadRunnerIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* modals */

.modal{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.4rem;
    width: 550px;
    padding: 1rem;
    height: auto;
    position: fixed;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 10px solid #7E2178;
    border-radius: 15px;
    z-index: 2;

}

.modalImg{
    width: 150px; 
    height: 150px;
    
}
.modal .flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal .title {
    color: white;
    font-size: 35px;
}

.modal p {
    font-size: 16px;
    color: white;
}
  
.x-btn {
    cursor: pointer;
    border: none;
    font-weight: 500;
}
  
.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    margin-right: 10px;
    font-family: "Crafty Girls", cursive;
}

.btn:hover{
    background-color: #7E2178;
}
  
.btn-open {
    position: absolute;
}

.btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }


  .hidden{
    display: none;
  }


  .status-modal{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1rem;
    height: auto;
    position: fixed;
    top: 30%;
    left: 35%;
    transform: translate(-30%, -30%);
    background-color: black;
    border: 10px solid #FE5069;
    border-radius: 15px;
    z-index: 2;
  
  }

  .status-modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .status-msg {
    color: white;
    font-size: 35px;
  }
  .message {
    color: white;
    font-size: 25px;
  }

  .hide-status{
    display: none;
  }

  .resetBtn {
    margin-top: 10px;
    font-family: "Crafty Girls", cursive;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
  }

  .resetBtn:hover {
    color: white;
    background-color: #FE5069;
  }


  @keyframes roadRunnerIn {
    0% {
      transform:translateX(-1000px) skewX(30deg) scaleX(1.3);
    }
    70% {
      transform:translateX(30px) skewX(10deg) scaleX(.9);
    }
    100% {
      transform:translateX(0px) skewX(0deg) scaleX(1);
    }
  }


