body{
    margin: 0; 
    padding: 0; 
    background-color: black;
    background: url(../img/night-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    display: grid; 
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 2fr 3fr;
}
header {
    grid-column: span 2;
    background-color: transparent !important;
    height: 30px; 
    display: flex;
    justify-content: flex-end;

}
aside {
    background-color: transparent !important;
}
main {
    background-color: transparent !important;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
footer {
    background-color: transparent !important;
    grid-column: 1 / 3;
    height: 30px;
}

.word-container {
    max-width: 500px;
    text-align: center;
    color: white;


}
.keyboard-container{
    margin-top: 40px;
   
} 
.row {
    display: flex;
    justify-content: center;
}


.key {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px; 
    outline: none;
    border: none;
    font-size: 20px;
}

.word{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}
.hint {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}
.chances{
    font-size: 25px;
    margin-top: 20px;
    color: white;
    position: absolute;
    top: 85%;
    right: 20%;
}


/* modals */

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 300px;
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.modal .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.modal p {
    font-size: 15px;
    color: #777;
  }
  
.x-btn {
cursor: pointer;
border: none;
font-weight: 500;
}
  
.btn {
display: inline-block;
padding: 0.8rem 1.4rem;
font-weight: 700;
background-color: black;
color: white;
border-radius: 5px;
text-align: center;
font-size: 1em;
}
  
.btn-open {
position: absolute;

}

.btn-close {
transform: translate(10px, -20px);
padding: 0.5rem 0.7rem;
background: #eee;
border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }


  .hidden {
    display: none;
  }